@model GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Funcionario
@{ 
    Layout = null;
}

@{
    ViewBag.Title = "Página Login";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/Content/parte_login.css" />

   
</head>
<body style="">
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <!--<h3 class="card-title text-center">Log in to Codepen</h3>-->
                <img src="~/Content/Images/gamewave.gif" width="280px"; style="margin-left: 4px;" />
                <div class="card-text">
                    <!--
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                @using (Html.BeginForm("verificafuncio", "Login", FormMethod.Post))
                {
                    <form>
                        <!-- to error: add class "has-danger" -->
                        <div class="form-group">
                            @Html.LabelFor(m => m.Func_cpf)
                            <br />
                            @Html.EditorFor(m => m.Func_cpf)


                        </div>

                        <div class="form-group">
                            @Html.ValidationMessageFor(m => m.Func_cpf)

                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.Func_senha)
                            @Html.PasswordFor(m => m.Func_senha)
                      
                        </div>

                        <div class="form-group">
                            @Html.ValidationMessageFor(m => m.Func_senha)

                        </div>

                        <input type="submit" class="btn btn-primary btn-block" style="height:50px;" value="Entrar"></input>
                    </form>
                    }
                </div>
                
            </div>
        </div>
    </div>


</body>
</html>