<!DOCTYPE HTML>
<html lang="pt-br">
@model GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Cupom
@{
    ViewBag.Title = "Alteração do Cupom";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/background_imagens.css" />


</head>
<body>
    <br />
    <br />
    <legend><b>Alteração do Cupom</b></legend>

    <div class="container" id="">
        @using (Html.BeginForm("AltCupom", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()


        <fildset>


            <div class="editor-label" style="font-size: 30px;">
                @Html.LabelFor(m => m.DescontoCupom, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.DescontoCupom, new { htmlAttributes = new { @class = "Form-control" } })
                @Html.ValidationMessageFor(m => m.DescontoCupom, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                @Html.LabelFor(m => m.Cupom_cod, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field" style="margin-left: 500px;">
                @Html.EditorFor(m => m.Cupom_cod, new { htmlAttributes = new { @class = "Form-control" } })
                @Html.ValidationMessageFor(m => m.Cupom_cod, "", new { @class = "" })
            </div>

            <div>
                <br /> <input type="submit" value="Alterar" name="btnenviar" />
            </div>
        </fildset>
            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }
        }

    </div>
</body>
</html>


