<!DOCTYPE HTML>
<html lang="pt-br">
@model GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Funcionario
@{
    ViewBag.Title = "Alteração do Funcionário";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/" />


</head>
<body>
    <br />
    <br />
<legend><b>Alteração do Funcionário</b></legend>
<div class="container" id="">
    @using (Html.BeginForm("AltFuncio", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <fildset>
            <div class="editor-label" style="font-size: 30px;">
                @Html.LabelFor(m => m.Func_nome, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.Func_nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Func_nome, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 400px; margin-top: -73px;">
                @Html.LabelFor(m => m.Func_num_end, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field" style="margin-left: 400px; ">
                @Html.EditorFor(m => m.Func_num_end, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Func_num_end, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-top: 50px;">
                @Html.LabelFor(m => m.Func_datanasc, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.Func_datanasc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Func_datanasc, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 400px; margin-top: -73px;">
                @Html.LabelFor(m => m.Func_cargo, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field" style="margin-left: 400px; ">
                @Html.EditorFor(m => m.Func_cargo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Func_cargo, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-top: 50px;">
                @Html.LabelFor(m => m.Func_tel, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.Func_tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Func_tel, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 400px; margin-top: -73px;">
                @Html.LabelFor(m => m.Func_email, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field" style="margin-left: 400px; ">
                @Html.EditorFor(m => m.Func_email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Func_email, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-top: 50px;">
                @Html.LabelFor(m => m.Func_cod, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field" id="desabilitar">
                @Html.EditorFor(m => m.Func_cod, new { htmlAttributes = new { @class = "form-control", @enabled = "false" } })
                @Html.ValidationMessageFor(m => m.Func_cod, "", new { @class = "" })
            </div>

            <div>
                <br /> <input type="submit" value="Alterar" name="btnenviar" />
            </div>
        </fildset>
        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval");
        }

    }
</div>
    
