<!DOCTYPE HTML>
<html lang="pt-br">
@model GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Produto
@{
    ViewBag.Title = "Alteração do Produto";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/" />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/Content/StyleForm.css" />
    <style>
        .form-control {
            padding: 5px;
            height: 30px;
            font-size: 1.4rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1> <b>Alterar Produto</b></h1>
        @using (Html.BeginForm("AltProduto", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <form class="form">
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label class="form-label" id="label">@Html.LabelFor(m => m.Prod_nome)</label>
                            @Html.TextBoxFor(m => m.Prod_nome, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Prod_nome)
                        </fieldset>
                    </div>

                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl">@Html.LabelFor(m => m.Prod_tipo)</label>
                            @Html.TextBoxFor(m => m.Prod_tipo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Prod_tipo)
                        </fieldset>
                    </div>

                    <div class="col-ms-2">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Prod_quant_estoque)</label>
                            @Html.TextBoxFor(m => m.Prod_quant_estoque, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Prod_quant_estoque)
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Prod_desc)</label>
                            @Html.TextAreaFor(m => m.Prod_desc, new { @class = "form-control", TextMode = "MultiLine", Rows = "4" })
                            @Html.ValidationMessageFor(m => m.Prod_desc)
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Prod_anolanc)</label>
                            @Html.TextBoxFor(m => m.Prod_anolanc, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Prod_anolanc)
                        </fieldset>
                    </div>

                    <div class="col-md-2">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Prod_faixaeta)</label>
                            @Html.TextBoxFor(m => m.Prod_faixaeta, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Prod_faixaeta)
                        </fieldset>
                    </div>

                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Prod_valor)</label>
                            @Html.TextBoxFor(m => m.Prod_valor, " ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Prod_valor)
                        </fieldset>
                    </div>
                </div>

                <div>
                    <br /> <input class="btn btn-primary" id="button" type="submit" value="Alterra" name="btnenviar" />
                </div>
            </form>
            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }
        }

    </div>
</body>
</html>

