<!DOCTYPE HTML>
<html lang="pt-br">
@model GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Servico
@{
    ViewBag.Title = "Alteração do Serviço";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/background_imagens.css" />


</head>
<body>
    <br />
    <br />
    <legend><b>Alteração do Test Drive</b></legend>
    <div class="container" id="">
        @using (Html.BeginForm("AltServico", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
        <fildset>
            <div class="editor-label" style="font-size: 30px;">
                @Html.LabelFor(m => m.Desc_Serv, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.Desc_Serv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Desc_Serv, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 400px; margin-top: -73px;">
                @Html.LabelFor(m => m.Prod_Serv, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field" style="margin-left: 400px; ">
                @Html.EditorFor(m => m.Prod_Serv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Prod_Serv, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-top: 50px;">
                @Html.LabelFor(m => m.DateEntre, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.DateEntre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.DateEntre, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 400px; margin-top: -73px;">
                @Html.LabelFor(m => m.DateSaida, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field" style="margin-left: 400px; ">
                @Html.EditorFor(m => m.DateSaida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.DateSaida, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-top: 50px;">
                @Html.LabelFor(m => m.Valor_servico, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.Valor_servico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Valor_servico, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 400px; margin-top: -73px;">
                @Html.LabelFor(m => m.Fk_Funcionario_Func_Cod, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field" style="margin-left: 400px; ">
                @Html.EditorFor(m => m.Fk_Funcionario_Func_Cod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Fk_Funcionario_Func_Cod, "", new { @class = "" })
            </div>

            <div class="editor-label" style="font-size: 30px; margin-top: 50px;">
                @Html.LabelFor(m => m.Cod_Serv, htmlAttributes: new { @class = "" })
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.Cod_Serv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Cod_Serv, "", new { @class = "" })
            </div>

            <div>
                <br /> <input type="submit" value="Alterar" name="btnenviar" />
            </div>
        </fildset>
            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }

        }
    </div>

