<!DOCTYPE HTML>
<html lang="pt-br">
@model GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Funcionario
@{
    ViewBag.Title = "Cadastro de Funcionário";
}
<head>
    <meta charset="utf-8" />
    


</head>
<body>
    <br />
    <br />
    <legend> Cadastro do Funcionário</legend>
    <div class="container" id="">
        @using (Html.BeginForm("CadFuncio", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fildset>
                <div class="editor-label" style="font-size: 30px;">
                    @Html.LabelFor(m => m.Func_nome)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(m => m.Func_nome)
                    @Html.ValidationMessageFor(m => m.Func_nome)
                </div>

                <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                    @Html.LabelFor(m => m.Func_cpf)
                </div>

                <div class="editor-field" style="margin-left: 500px; ">
                    @Html.EditorFor(m => m.Func_cpf)
                    @Html.ValidationMessageFor(m => m.Func_cpf)
                </div>

                <div class="editor-label" style="font-size: 30px;">
                    @Html.LabelFor(m => m.Func_tel)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(m => m.Func_tel)
                    @Html.ValidationMessageFor(m => m.Func_tel)
                </div>

                <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                    @Html.LabelFor(m => m.Func_email)
                </div>

                <div class="editor-field" style="margin-left: 500px; ">
                    @Html.EditorFor(m => m.Func_email)
                    @Html.ValidationMessageFor(m => m.Func_email)
                </div>

                <div class="editor-label" style="font-size: 30px;">
                    @Html.LabelFor(m => m.Func_datanasc)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(m => m.Func_datanasc)
                    @Html.ValidationMessageFor(m => m.Func_datanasc)
                </div>

                <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                    @Html.LabelFor(m => m.Func_cargo)
                </div>

                <div class="editor-field" style="margin-left: 500px; ">
                    @Html.EditorFor(m => m.Func_cargo)
                    @Html.ValidationMessageFor(m => m.Func_cargo)
                </div>

                <div class="editor-label" style="font-size: 30px;">
                    @Html.LabelFor(m => m.Nome_uf)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(m => m.Nome_uf)
                    @Html.ValidationMessageFor(m => m.Nome_uf)
                </div>

                <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                    @Html.LabelFor(m => m.Nome_cidade)
                </div>

                <div class="editor-field" style="margin-left: 500px;">
                    @Html.EditorFor(m => m.Nome_cidade)
                    @Html.ValidationMessageFor(m => m.Nome_cidade)
                </div>

                <div class="editor-label" style="font-size: 30px;">
                    @Html.LabelFor(m => m.Nome_bairro)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(m => m.Nome_bairro)
                    @Html.ValidationMessageFor(m => m.Nome_bairro)
                </div>

                <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                    @Html.LabelFor(m => m.Logradouro)
                </div>

                <div class="editor-field" style="margin-left: 500px;">
                    @Html.EditorFor(m => m.Logradouro)
                    @Html.ValidationMessageFor(m => m.Logradouro)
                </div>

                <div class="editor-label" style="font-size: 30px">
                    @Html.LabelFor(m => m.Cep)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(m => m.Cep)
                    @Html.ValidationMessageFor(m => m.Cep)
                </div>

                <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                    @Html.LabelFor(m => m.Func_num_end)
                </div>

                <div class="editor-field" style="margin-left: 500px;">
                    @Html.EditorFor(m => m.Func_num_end)
                    @Html.ValidationMessageFor(m => m.Func_num_end)
                </div>

                <div class="editor-label" style="font-size: 30px;">
                    @Html.LabelFor(m => m.Func_senha)
                </div>

                <div class="editor-field">
                    @Html.PasswordFor(m => m.Func_senha)
                    @Html.ValidationMessageFor(m => m.Func_senha)
                </div>

                <div>
                    <br /> <input type="submit" value="Cadastrar" name="btnenviar" />
                </div>
            </fildset>
            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }
        }
    </div>
</body>
</html>
