<!DOCTYPE HTML>
<html lang="pt-br">
@model GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Servico
@{
    ViewBag.Title = "Cadastro do Servico";
}

<head>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/Content/StyleForm.css" />
    <style>
        .form-control {
            padding: 5px;
            height: 30px;
            font-size: 1.4rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <br>
        <h1 align="center"> Cadastro do Serviço</h1>

        @using (Html.BeginForm("CadServico", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <form class="form">
                <div class="row">
                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-label" id="label">@Html.LabelFor(m => m.Desc_Serv)</label>
                            @Html.TextBoxFor(m => m.Desc_Serv, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Desc_Serv)
                        </fieldset>
                    </div>

                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Prod_Serv)</label>
                            @Html.TextBoxFor(m => m.Prod_Serv, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Prod_Serv)
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.DateEntre)</label>
                            @Html.TextBoxFor(m => m.DateEntre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DateEntre)
                        </fieldset>
                    </div>

                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.DateSaida)</label>
                            @Html.TextBoxFor(m => m.DateSaida, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DateSaida)
                        </fieldset>
                    </div>

                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Valor_servico)</label>
                            @Html.TextBoxFor(m => m.Valor_servico, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Valor_servico)
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Fk_Funcionario_Func_Cod)</label>
                            @Html.TextBoxFor(m => m.Fk_Funcionario_Func_Cod, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Fk_Funcionario_Func_Cod)
                        </fieldset>
                    </div>
                </div>


                <div>
                    <br /> <input class="btn btn-primary" id="button" type="submit" value="Cadastrar" name="btnenviar" />
                </div>
            </form>
            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }
        }
    </div>
</body>
</html>

