<!DOCTYPE HTML>
<html lang="pt-br">
@model GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Servico
@{
    ViewBag.Title = "Cadastro do Servico";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="" />


</head>
<body>
    <br />
    <br />
    <legend> Cadastro do Serviço</legend>

    <div class="container" id="">

        @using (Html.BeginForm("CadServico", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
        <fieldset>

            <div class="editor-label" style="font-size: 30px;">
                @Html.LabelFor(m => m.Desc_Serv)
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.Desc_Serv)
                @Html.ValidationMessageFor(m => m.Desc_Serv)
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                @Html.LabelFor(m => m.Prod_Serv)
            </div>

            <div class="editor-field" style="margin-left: 500px;">
                @Html.EditorFor(m => m.Prod_Serv)
                @Html.ValidationMessageFor(m => m.Prod_Serv)
            </div>

            <div class="editor-label" style="font-size: 30px;">
                @Html.LabelFor(m => m.DateEntre)
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.DateEntre)
                @Html.ValidationMessageFor(m => m.DateEntre)
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                @Html.LabelFor(m => m.DateSaida)
            </div>

            <div class="editor-field" style="margin-left: 500px;">
                @Html.EditorFor(m => m.DateSaida)
                @Html.ValidationMessageFor(m => m.DateSaida)
            </div>

            <div class="editor-label" style="font-size: 30px;">
                @Html.LabelFor(m => m.Valor_servico)
            </div>

            <div class="editor-field">
                @Html.EditorFor(m => m.Valor_servico)
                @Html.ValidationMessageFor(m => m.Valor_servico)
            </div>

            <div class="editor-label" style="font-size: 30px; margin-left: 500px; margin-top: -73px;">
                @Html.LabelFor(m => m.Fk_Funcionario_Func_Cod)
            </div>

            <div class="editor-field" style="margin-left: 500px;">
                @Html.EditorFor(m => m.Fk_Funcionario_Func_Cod)
                @Html.ValidationMessageFor(m => m.Fk_Funcionario_Func_Cod)
            </div>
            <div>
                <br /> <input type="submit" value="Cadastrar" name="btnenviar" />
            </div>
        </fieldset>
            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }
        }
</body>
</html>

