<!DOCTYPE HTML>
<html lang="pt-br">
@model GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Teste
@{
    ViewBag.Title = "Cadastro do Test Drive";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/" />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/Content/StyleForm.css" />
</head>
<body>
    <div class="container">
        <h1> <b>Teste Drive</b></h1>

        @using (Html.BeginForm("CadTeste", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <form class="form">
                <div class="row">
                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-label" id="label">@Html.LabelFor(m => m.Age_DtRetirada)</label>
                            @Html.TextBoxFor(m => m.Age_DtRetirada, new { @class = "form-control", })
                            @Html.ValidationMessageFor(m => m.Age_DtRetirada)
                        </fieldset>
                    </div>

                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl">@Html.LabelFor(m => m.Age_Desc)</label>
                            @Html.TextBoxFor(m => m.Age_Desc, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Age_Desc)
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Fk_Cliente_Cli_cpf)</label>
                            @Html.TextBoxFor(m => m.Fk_Cliente_Cli_cpf, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Fk_Cliente_Cli_cpf)
                        </fieldset>
                    </div>

                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="form-lbl" id="label">@Html.LabelFor(m => m.Fk_Produto_Cod_Prod)</label>
                            @Html.TextBoxFor(m => m.Fk_Produto_Cod_Prod, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Fk_Produto_Cod_Prod)
                        </fieldset>
                    </div>
                </div>

                <div>
                    <br /> <input type="submit" value="Cadastrar" name="btnenviar" />
                </div>
            </form>
            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }
        }
    </div>
</body>
</html>

