@model IEnumerable<GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Funcionario>
<!DOCTYPE HTML>
<html lang="pt-br">
@{
    ViewBag.Title = "Consulta dos Funcionários";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/background_imagens.css" />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleListItens.css">
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Lista de Funcionarios</h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="@Url.Action("CadFuncioIndex","Home")" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Novo</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Func_cod)</th>
                        <th>@Html.DisplayNameFor(model => model.Func_nome)</th>
                        <th>@Html.DisplayNameFor(model => model.Func_cpf)</th>
                        <th>@Html.DisplayNameFor(model => model.Func_tel)</th>
                        <th>@Html.DisplayNameFor(model => model.Func_email)</th>
                        <th>@Html.DisplayNameFor(model => model.Func_datanasc)</th>
                        <th>@Html.DisplayNameFor(model => model.Func_cargo)</th>
                        <th>@Html.DisplayNameFor(model => model.FK_cep_cep)</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Func_cod)</td>
                            <td>@Html.DisplayFor(modelItem => item.Func_nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Func_cpf)</td>
                            <td>@Html.DisplayFor(modelItem => item.Func_tel)</td>
                            <td>@Html.DisplayFor(modelItem => item.Func_email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Func_datanasc)</td>
                            <td>@Html.DisplayFor(modelItem => item.Func_cargo)</td>
                            <td>@Html.DisplayFor(modelItem => item.FK_cep_cep)</td>

                            <td>
                                <a href="@Url.Action("AltFuncio", new {cdfunc = item.Func_cod})" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a href="@Url.Action("DelFuncio", new {cdfunc = item.Func_cod})" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</body>
</html>
