@model IEnumerable<GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Cupom>
<!DOCTYPE HTML>
<html lang="pt-br">
@{
    ViewBag.Title = "Consulta dos Cupoms";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="" />


</head>
<body>
    <center><h2>Lista dos cupons presentes</h2></center>
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cupom_cod)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DescontoCupom)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cupom_cod)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DescontoCupom)
                </td>

                <td>
                    @Html.ActionLink("Alterar", "AltCupom", null, new { cupom = item.Cupom_cod }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Excluir", "DelCupom", null, new { cupom = item.Cupom_cod }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>

