@model IEnumerable<GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Funcionario>
<!DOCTYPE HTML>
<html lang="pt-br">
@{
    ViewBag.Title = "Consulta dos Funcionários";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/background_imagens.css" />


</head>
<body>
    <center><h2>Lista dos Funcionários presentes</h2></center>
    <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Func_cod)

                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Func_nome)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Func_cpf)
                </th>
                        
                <th>
                    @Html.DisplayNameFor(model => model.Func_tel)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Func_email)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Func_datanasc)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Func_cargo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                
                
           </tr>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Func_cod)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Func_nome)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Func_cpf)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Func_tel)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Func_email)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Func_datanasc)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Func_cargo)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.FK_cep_cep)
                    </td>
                    <td>
                        @Html.ActionLink("Alterar", "AltFuncio", null, new { cdfun = item.Func_cod }, new { @class = "btn btn-primary"})
                        @Html.ActionLink("Excluir", "DelFuncio", null, new { cdfun = item.Func_cod}, new { @class = "btn btn-danger"})
                    </td>
            </tr>
            }
    </table>
                      
</body>
</html>
    
