@model IEnumerable<GAME_WAVE___SISTEMA_ASP_NET.Models.Classe_Cliente>
<!DOCTYPE HTML>
<html lang="pt-br">
@{
    ViewBag.Title = "Consulta dos Clientes";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/background_imagens.css" />


</head>
<body>
    <center><h2>Lista dos clientes presentes</h2></center>

    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cli_cpf)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cli_nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cli_numEnd)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cli_email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cli_tel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cli_cpf)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cli_nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cli_numEnd)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cli_email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cli_tel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FK_cep_cep)
                </td>

                <td>
                    @Html.ActionLink("Alterar", "AltCliente", null, new { cpf = item.Cli_cpf }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Excluir", "DelCliente", null, new { cpf = item.Cli_cpf }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
</body>
</html>

