<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GAME WAVE - SUA LOJA GEEKER FAVORITA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    
    <style>
        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #3d3d3d;
            overflow-x: hidden;
            transition: 0.2s;
            padding-top: 60px;
        }

            .sidebar button {
                padding: 6px 6px 6px 18px;
                text-decoration: none;
                font-size: 23px;
                background-color: white;
                display: block;
                width: 100%;
                height: 100px;
            }

                .sidebar button:hover {
                    color: #545454;
                }

            .sidebar .fechabtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 40px;
                margin-left: 100px;
            }

        .abrebtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #545454;
            color: white;
            padding: 10px;
            border: none;
            margin-left: 750px;
            margin-top: 10px;
        }

        #cadastrobarra {
            position: relative;
            float: right;
            margin-top: -110px;
            width: 50px;
            background-color: #222222;
        }

        #cadastrobarra button {
            width: 150px;
            height: 40px;
            text-decoration: none;
            color: #ffffff;
            background-color: #262626;
            border: none;
            font-family: Calibri;
            font-weight: bold;
            }

        #barralateral p {
            font-family: Calibri;
            font-weight: bold;
            color: #ffffff;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top  navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <div>
                    <ul class="nav navbar-nav" style="font-family">
                        <li><img src="~/Content/Images/Logoclientegamewave (1).png" width="65px;" /></li>
                            <li>@Html.ActionLink("GAME WAVE - PÁGINA INICIAL", "Index", "Home")</li>
                            <li>
                                <button id="lateral" class="abrebtn" onClick="openNav()">☰</button>
                            </li>
                        </ul>
                </div>
                

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <!--
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
            -->

                </button>
                <!--
        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    -->
                <!--<button id="lateral" class="abrebtn" onClick="openNav()">☰</button>-->
            </div>
            



            <div id="barralateral" class="sidebar">
                <a href="javascript:void(0)" class="fechabtn" onclick="closeNav()">X</a>
                <p>Utilize os botões abaixo para realizar as funções necessárias! </p>
                <div class="dropdown dropdown-menu-right">
                    <button type="button" class="btn btn-glyphicon glyphicon-plus dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 300px; text-align: left; font-family: Calibri; font-weight: bold;">
                        Cadastrar
                    </button>
                    <div id="cadastrobarra" class="dropdown-menu" style="margin-right: 10px;">
                        <button class="dropdown-item">@Html.ActionLink("Cliente", "CadClienteIndex", "Home")</button><br />
                        <button class="dropdown-item">@Html.ActionLink("Produto", "CadProdutoIndex", "Home")</button><br>
                        <button class="dropdown-item">@Html.ActionLink("Funcionário", "CadFuncioIndex", "Home")</button> <br />
                        <button class="dropdown-item">@Html.ActionLink("Cupom", "CadCupomIndex", "Home")</button><br />
                        <button class="dropdown-item">@Html.ActionLink("Test Drive", "CadTesteIndex", "Home")</button><br />



                    </div>
                </div>
                <br />
                <br />
                <div class="dropdown dropdown-menu-right">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 300px; text-align: left; font-family: Calibri; font-weight: bold; height: 190px;">
                        Consultar<br>------------<br />Alterar<br>------------<br />Deletar
                    </button>
                    <div id="cadastrobarra" class="dropdown-menu" style="margin-right: 10px;">
                        <button class="dropdown-item">@Html.ActionLink("Cliente", "Del_Con_Cliente", "Home")</button><br />
                        <button class="dropdown-item">@Html.ActionLink("Produto", "Del_Con_Produto", "Home")</button><br>
                        <button class="dropdown-item">@Html.ActionLink("Funcionário", "Del_Con_Funcio", "Home")</button><br />
                        <button class="dropdown-item">@Html.ActionLink("Cupom", "Del_Con_Cupom", "Home")</button><br />
                        <button class="dropdown-item">@Html.ActionLink("Test Drive", "Del_Con_Teste", "Home")</button><br />

                    </div>
                </div>

                <div class="dropdown">
                    <button type="button" class="btn" style="width: 300px; text-align: center; font-family: Calibri; font-weight: bold; margin-top: 100px;">
                        @Html.ActionLink("Logout", "Sair", "Login")
                    </button>
                    

                </div>
            </div>
        </div>
    
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; GAME WAVE @DateTime.Now.Year - TODOS OS DIREITOS RESERVADOS </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function openNav() {
                document.getElementById("barralateral").style.width = "400px";

          

            
        }

        function closeNav() {
            document.getElementById("barralateral").style.width = "0px";

        }


                    

    </script>
</body>
</html>
